@model WeeebLibrary.BLL.Models.BookGenreViewModel


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список книг</h1>
@if (User.IsInRole("Библиотекарь"))
{
    <p>
        <a asp-action="Create" asp-controller="Book">Добавить книгу</a>
    </p>
}

<form asp-controller="Book" asp-action="Index" method="get">
    
    <p>
        <select asp-for="BookAutor" asp-items="Model.Autor" class="lead">
            <option value="">Любой автор</option>
        </select>
        <select asp-for="BookGenre" asp-items="Model.Genres" class="lead">
            <option value="">Любой жанр</option>
        </select>
        <select asp-for="BookPublisher" asp-items="Model.Publisher" class="lead">
            <option value="">Любое издательство</option>
        </select>
    </p>
    <p>
        Название:<input type="text" name="SearchString" class="lead">
        <input type="submit" value="Найти" class="btn btn-outline-light" />
    </p>
</form>

<table class="lead">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Автор
            </th>
            <th>
                Жанр
            </th>
            <th>
                Издательство
            </th>
            <th>
                Статус
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Name)</a>
</td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

            <td>
                <p>
                    @if((item.Status == WeeebLibrary.DAL.Enums.Status.Available)&(User.IsInRole("Клиент")))
                    {
                        <a asp-controller="Order" asp-action="Checkout" asp-route-id="@item.Id" class="btn btn-outline-light">Забронировать</a>
                    }

                    @if (User.IsInRole("Библиотекарь"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-light">Изменить</a>
                    }
                    
                    @if (User.IsInRole("Библиотекарь"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-light">Удалить</a>
                    }
                </p>
            </td>
        </tr>
        }
    </tbody>
</table>
