@model IEnumerable<WeeebLibrary.BLL.DTO.UserDTO>
@{
    ViewBag.Title = "Список пользователей";
}


    <a asp-action="Create" class="btn btn-light">Добавить пользователя</a>
<table class="lead">
    <tr><th>Email</th><th>Фамилия</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.SecondName</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-outline-light" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                    <a class="btn btn-outline-light" asp-action="ChangePassword" asp-route-id="@user.Id">Сменить пароль</a>
                    <a class="btn btn-outline-light" asp-controller="Roles" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
                    <button class="btn btn-outline-light" type="submit">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>

