@model IEnumerable<WeeebLibrary.Database.Entitys.Book>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список книг</h1>
@if (User.IsInRole("Библиотекарь"))
{
    <p>
        <a asp-action="Create" asp-controller="Book">Добавить книгу</a>
    </p>
}
<table class="lead">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Автор
            </th>
            <th>
                Жанр
            </th>
            <th>
                Издательство
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>

                <td>
                    <p>
                        @if (User.IsInRole("Клиент"))
                        {
                            <a asp-controller="Cart" asp-action="addToCart" asp-route-id="@item.Id">Запись</a>
                        }

                        @if (User.IsInRole("Библиотекарь"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                        }
                        <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                        @if (User.IsInRole("Библиотекарь"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                        }
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>
